<mat-toolbar class="toolbar" >
  <span class="nav-icon-label">
    <a href="" class="logo">My F# School</a>
    <mat-slide-toggle [checked]="checked" (change)="toggleChanges($event)" ></mat-slide-toggle>
  </span>
  <span class="nav-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" class="">
    <img src="https://github.com/mdo.png" alt="userImg" class="userImg">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

</mat-toolbar>