.userImg{
    height: 10rem;
    width: 10rem;
    position: absolute;
    margin: 20% 80% 5% 5%;
}


.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }